@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
/*Colores de la maqueta*/
html{
  --bg-color-200: hsl(214, 25%, 3%);
  --bg-color-200-75: hsla(214, 25%, 11%, 0.75);
  --bg-color-200-95: hsla(214, 25%, 11%, 0.95);
  --bg-color-400: hsl(214, 20%, 16%);
  --text-color: hsl(215, 25%, 90%);
  --accent-color-200:  hsl(214, 75%, 20%);
  --accent-color-400:  hsl(214, 89%, 36%);
  --accent-color-500:  hsl(214, 85%, 55%);

  /* Fuentes y tamaños */
  --txt-heading: "Bebas Neue", sans-serif;
  --txt-base: "Nunito Sans", sans-serif;
  --contenedor-sz: min(75rem, 100% );
    
}

/* Reseteo Global */
* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

/* Estilos de Enlaces */
a:link,
a:visited {
  color: var(--accent-color-400);
  text-decoration: none;
}

a:hover,
a:active {
  color: var(--accent-color-500);
}

body{
  
background-color: var(--bg-200);
color: var(--text-color);
font-family: var(--txt-base);
line-height: 1.5;
}

h1,
h2,
h3{
    font-family: var(--txt-heading);
    cursor:default;
    color: var(--accent-color-400);
}

body {
    background-color: var(--bg-color-200);
    color: var(--text-color);
    font-family: var(--txt-base);
    line-height: 1.5;
}



/* Flexbox para el header */
header{
  background-color: var(--txt-heading);
}

.contenedor-header{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 1rem;
}


.contenedor-header ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  transition: 0.2s;
  font-size: 1.5rem;
}

.nav-link{
  padding: 0.45rem 1rem;
  color: var(--text-color);
  font-family: var(--txt-heading);

}

.nav-link:hover {
  background: var(--accent-color-500);
  border-color: var(--accent-color-500);
  color: var(--text-color-light);
}



/* Bienvenida */
.bienvenida,.seleccion-quienes{
  min-height: 20rem;
  width: var(--contenedor-sz - 4rem);
  background-image: url('../img/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-attachment: fixed; 
}


.contenedor-bienvenida,.contenedor-quienes{
  display: flex;
  flex-direction: column;
  
  background-color: var(--bg-color-200-75);
  width: 100%;
  padding: 3rem;
}

.contenedor-bienvenida h1, .contenedor-bienvenida p{
  margin: 0;
}



/* Catalogo */

.seleccion-catalogo h1{
  color: var(--accent-color-400);
  padding: 1rem;
  margin: 0.1;
  text-align: center;
}

.seleccion-catalogo{
  width: var(--contenedor-sz);
  padding: 4rem 0;
  margin: 0 auto;
}

.contenedor-productos{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 20rem));
  justify-content: center;
  gap: 1rem;
  width: 90%; 
  margin: 0 auto;
}

.contenedor-productos article{
  background-color: var(--bg-color-400);
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  border-radius: 0.5rem;
  gap: 0.5rem ;
}

.contenedor-productos img{
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  border-radius: 1.5rem;
}

.contenedor-productos article:hover{
  border: 0.2rem solid var(--accent-color-400);
  transform: scale(1.05);
  transition: 0.3s;
}



/* Botones del catalogo */
.btn-fill{
font-family: var(--txt-base);
font-size: 1rem;
background-color: var(--accent-color-400);
padding: 0.5rem 1rem;
border-radius: 0.5rem;
border: 0.2rem solid var(--accent-color-400);
}
.btn-fill:hover{
  box-shadow: 1rem;
  transition: 0.3s;
  cursor: pointer;
}

.btn-outline{
font-family: var(--txt-base);
font-size: 1rem;
background-color: var(--accent-color-200);
padding: 0.5rem 1rem;
border-radius: 0.5rem;
border: 0.2rem solid var(--accent-color-400);

}

.btn-outline:hover{
  background-color: var(--accent-color-400);
  color: var(--accent-color-200);
  border: none;
  transition: 0.3s;
  cursor: pointer;
  }

  /* Quienes somos */
  .seleccion-quienes{
    width: var(--contenedor-sz);
    min-height: 60vh;
    border: 0.1rem solid var(--bg-color-200-95);
    border-radius: 1.5rem;
    margin: 0 auto;
    padding: 3rem;
    background-attachment: scroll;
  }

  .contenedor-quienes{
    background-color: var(--bg-color-200-95);
    border: 0.1rem solid var(--accent-color-400);
    border-radius: 1.5rem ;
    padding: 1rem;
    gap: 1rem;

  }


/* footer */


.contenedor-footer {
    width: var(--contenedor-sz);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 0rem;  
    gap:1rem;
    min-height: 100vh;
}
.contenedor-footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-family: var(--txt-heading);
}

.txt-footer {
    font-family: var(--txt-base);
    text-align: right;
    margin: 0;
}


@media (min-width: 768px) {
  .contenedor-header {
    flex-direction: row;
    justify-content: space-between;
  }
  
  .contenedor-productos {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .contenedor-footer {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }
  
  .contenedor-footer ul {
    flex-direction: row;
    gap: 1.5rem;
  }
}

@media (min-width: 1024px) {
 
  
  .contenedor-productos {
  
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr)); 

  }
}


